<template>
    <center><div>
        <img src="../../img/gmail.png" alt="Mountain View" style="width:100px;height:70px;">
        <h3>Envoyez un e-mail</h3>
        <input class="form-control" placeholder="Votre e-mail">
        <br>
        <button class="btn btn-primary" onClick="window.location.reload()">Envoyer</button>
    </div></center>
</template>

<script>

    export default {
        data() {
            return {
                msg: 'Envoyez un mail'
            }
        },
        methods: {
            greet: function (event) {
                alert(event.target.tagName)
            },
            f1() {

            }
        }
    }
</script>
