<template>
    <center><div>
        <img src="../../img/twitter.png" alt="Mountain View" style="width:100px;height:70px;">
        <h3>Tweetez ici</h3>
        <input class="form-control" placeholder="Votre Tweet">
        <br>
        <button class="btn btn-primary" onClick="window.location.reload()">Publier</button>
    </div></center>
</template>

<script>

    export default {
        data() {
            return {
                msg: 'Tweetez ici'
            }
        },
        methods: {
            greet: function (event) {
                alert(event.target.tagName)
            },
            f1() {

            }
        }
    }
</script>

<style>
.form-control {
    height:35px;
    width:400px;
}
</style>
