<template>
    <div class="col-sm-4 col-sm-offset-4">
        <h2>Authentification</h2>
        <p>Authentifiez vous ici</p>
        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Nom d'utilisateur" v-model="credentials.username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control"
                   placeholder="Mot de passe" v-model="credentials.password">
        </div>
        <button class="btn btn-primary" @click="submit()">Access</button>
    </div>
</template>

<script>
    import auth from 'src/auth'

    export default {
        data() {
            return {
                credentials: {
                    username: '',
                    password: ''
                },
                error: ''
            }
        },
        methods: {
            submit() {
                const credentials = {
                    username: this.credentials.username,
                    password: this.credentials.password
                };
                auth.login(this, credentials, 'secretQuote')
            }
        }

    }
</script>
